.landingdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  gap: 10px;
  position: relative;
  left: -12.5%;
}

.landingbutt {
  text-align: center;
  padding: 4px;
  display: inline-block;
  font-size: medium;
  background-color: cornflowerblue;
  color: white;
  border-radius:5px;
  border-color: cornflowerblue;
}
