#pTable {
  border-collapse: collapse;
  table-layout: fixed;
  padding: 10px;
  width: 100%;
}

#adminTable {
  border-collapse: collapse;
  table-layout: fixed;
  padding: 10px;
  width: 100%;
}

.plink {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

.pRow {
  border-bottom: 1px dotted black;
}

.pTD {
  padding: 15px;
}

.pScore {
  width: 7%;
  overflow-wrap: break-word;
}

.pInfo {
  width: 10%;
  overflow-wrap: break-word;
}

.pTitle {
  width: 55%;
  overflow-wrap: break-word;
}

.pDate {
  width: 20%;
  vertical-align: middle;
  text-align: right;
  padding-right:40px
}

.paInfo {
  width: 7%;
  overflow-wrap: break-word;
}

.paScore {
  width: 10%;
  overflow-wrap: break-word;
}

.paTitle {
  width: 20%;
  overflow-wrap: break-word;
}

.paEmail {
  width: 20%;
  overflow-wrap: break-word;
}

.paDate {
  width: 20%;
  vertical-align: middle;
  text-align: right;
  padding-right:40px
}

.paDel {
  width: 10%;
  overflow-wrap: break-word;
}

.userdelbutt {
  padding: 6px;
  position: relative;
  font-size: medium;
  background-color: crimson;
  color: white;
  border-color: crimson;
  cursor:pointer;
  bottom: 80%
}

.usercanbutt {
  padding: 6px;
  position: relative;
  font-size: medium;
  background-color: cornflowerblue;
  color: white;
  border-color: cornflowerblue;
  cursor:pointer;
  bottom: 80%
}

.pprevbutt {
  background-color: cornflowerblue;
  color: white;
  border-radius:5px;
  border-color: cornflowerblue
}
.pprevbutt:disabled {
  background-color: rgb(163, 163, 163);
  color: white;
  border-color: rgb(163, 163, 163)
}
.pnextbutt {
  background-color: cornflowerblue;
  color: white;
  border-radius:5px;
  border-color: cornflowerblue
}
.pnextbutt:disabled {
  background-color: rgb(163, 163, 163);
  color: white;
  border-color: rgb(163, 163, 163)
}